<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <input type="text" class="form-control" name="title" placeholder="Image Title" />
            <br />
            <input type="file" name="imageFile" />
            <br />
            <button class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
